<h1>Edit Note</h1>
<div class="noteForm">
    <form action='?id={{_id}}' method='post'>

        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{title}}" required>
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description" name="description">{{description}}</textarea>
        </div>
        <div>
            <label for="importance">Importance</label>
            <input type="text" id="importance" name="importance" value="{{importance}}" required>
        </div>
        <div>
            <label for="finishedDate">do before</label>
            <input type="text" id="finishedDate" name="finishedDate" value="{{finishedDate}}" required>
        </div>
        <div>
            <label for="finished">finished</label>
            <input type="checkbox" id="finished" name="finished" value="true"
                {{#if finished}}
                   checked
                {{/if}}
            >
        </div>
        <div>
            <input type="hidden" id="id" value="{{_id}}" >
            <input type='submit' value='Save'>
            <a href="/">Cancel</a>
        </div>
    </form>
</div>